@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap" rel="stylesheet">);

:root{
    --red:#ff0404;
    --dark-color:#af0000;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(var(--black));
    --box-shadow:0.5rem 1rem rgba(0,0,0,.1)
    
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;


}



section{
    padding:5rem 9%;
}

.header .header-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

#logo-1{
    height: 8rem;
    width: 19rem;
}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width:100%;
    text-transform: none;
    color: var(--black);

}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color: var(--red);
}

.header .header-1 .search-form.active{
    top:115%;
}


.header .header-1 .icons div{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover{
    color: var(--red);
}

#search-btn{
    display: none;
}

.header .header-2{
    background:var(--red);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}


.bottom-navbar{
    text-align: center;
    background:var(--red);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:#fff;
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}



.home{
    background-color: #fff;
    background-size: cover;
    background-position: center;
    border-bottom: .1rem dotted var(--black);
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

.home .row .content h3{
    color:var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    color: var(--black);
    font-size: 3rem;
    padding-top: 2rem;
}

#fb{
    border-bottom: .1rem solid var(--red);
    border-width: .2rem;
}

.heading:hover{
    transform: scale(.9);
}

#topbar:hover{
    transform: scale(.9);
}


.footer{
    background-color: #666;
}

.footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    height: 4rem;
}

.footer div p{
    font-size: 2rem;
    color: white;
}







h3{
    color: var(--black);
}

#money{
    font-size: 2rem;
    font-weight: bold;
    color: var(--red);
}


#searchimg {
    height: 28rem;
    width: 20rem;
}

ul {
    list-style-type: none;
    width:110rem;
}

.container {
    display: flex;
    justify-content:center ;
    text-align: center;
}

.container .image-container {
   display: inline-flex;
}

.container .image-container:hover{
    transform: scale(.9);
}

.container .image-container .image {
   
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    border: .1rem solid black;
    width: 26rem;
    border-radius: 1rem;
    animation: fadeIn .2s linear;
    justify-content: center;
    padding: 3rem;
    margin: 2rem;
   
  }

@keyframes fadeIn {
0%{
transform: scale(.5) translateY(-10px);
opacity: 0;
}
}

.container .image-container .image img{

object-fit: cover;

border-radius: 5px;
}

.container .image-container .image h3{
font-size: 2rem;
}

@media (max-width:768px){
.container #search-box{
width: 100%;
}
}
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .newsletter{
        background-position: right;
    }

    .newsletter form{
        margin-left:0;
        max-width: 100%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}










/*101*/

.omimg1{
    display: flex;
    justify-content: center;
}

#omimg1:hover{
    transform: scale(.9);
}

#omimg1{
    width: 99%;
    margin: 1rem;
    border: .2rem dotted var(--black);
}

.ommain{
    border: .1rem solid var(--black);
    border-radius: 5rem;
    margin: 1rem 27rem;
    
}

.ommain1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ommain:hover{
    transform: scale(.9);
}

.imagediv{
    padding: 5rem;
}

.imagediv img{
    width:25rem;
    height: 44rem;
}

.imagediv img:hover{
    transform: scale(1.2);
}

.detaildiv{
    padding: 2rem;
}

.detaildiv p{
    font-size: 2rem;
    padding: 1rem;
    color: var(--black);

}

#omp{
    color: var(--red);
    display: inline;
}

h2{
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

.imagedivrepl{
    margin:2rem;
    visibility:hidden;
}

.imagedivrepl img{
    width:0;
    height: 0;
}
.email2{
    visibility: hidden;
}

@media (max-width:1198px){
    
    .ommain{
        margin: 0 2rem 1rem 2rem;
    }
    .email1{
        visibility: hidden;
        
    }
    .email2{
        visibility: visible;
    }
}

@media (max-width:598px){
    
    .ommain{
        margin: 0 0 1rem 0;
    }
    .imagediv{
        visibility: hidden;
    }
    .detaildiv{
        margin-left: 44rem;
    }
    .imagedivrepl{
        visibility:visible;
        display: flex;
        justify-content: center;
    }
    .imagedivrepl img{
        width:20rem;
        height: 25rem;
    }
    .email2{
        visibility: visible;
    }
    .footer div p{
        font-size: 1.2rem;
        
    }
}

